<section class="section hero" id="home">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="hero-title">Welcome to Magicabin Craft. Cast. Conquer.</h1>
        <p class="hero-description">Step into a whimsical world of sorcery and self-discovery! In Magicabin: Witch’s
          Adventure, match magical relics, brew
          mystical potions, and journey through lush enchanted forests as you uncover your destiny as a woodland witch.
        </p>
        <ul class="hero-list">
          <li class="hero-item">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/pc-scroll.webp 1x, ./img/pc-scroll@2x.webp 2x">
              <source media="(max-width: 1199px)" srcset="./img/mob-scroll.webp 1x, ./img/mob-scroll@2x.webp 2x">
              <img src="./img/mob-scroll.webp" alt="Magicabin Hero" width="88" height="74" fetchpriority="high"
                decoding="async">
            </picture>
            <p class="hero-item-desc">500,000+ spellbound players</p>
          </li>
          <li class="hero-item">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/pc-book.webp 1x, ./img/pc-book@2x.webp 2x">
              <source media="(max-width: 1199px)" srcset="./img/mob-book.webp 1x, ./img/mob-book@2x.webp 2x">
              <img src="./img/mob-book.webp" alt="Magicabin Hero" width="88" height="74" fetchpriority="high"
                decoding="async">
            </picture>
            <p class="hero-item-desc">Cozy magical visuals & hand-crafted animation</p>
          </li>
          <li class="hero-item">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/pc-poison.webp 1x, ./img/pc-poison@2x.webp 2x">
              <source media="(max-width: 1199px)" srcset="./img/mob-poison.webp 1x, ./img/mob-poison@2x.webp 2x">
              <img src="./img/mob-poison.webp" alt="Magicabin Hero" width="88" height="74" fetchpriority="high"
                decoding="async">
            </picture>
            <p class="hero-item-desc">Endless mystical item combos to discover</p>
          </li>
        </ul>
      </div>
      <picture>
        <source media="(min-width: 1200px)" srcset="
      ./img/pc-hero-hero.webp 394w, 
      ./img/pc-hero-hero@2x.webp 788w" sizes="(min-width: 1200px) 394px">

        <source media="(max-width: 1199px)" srcset="
      ./img/mob-hero-hero.webp 288w, 
      ./img/mob-hero-hero@2x.webp 576w" sizes="(max-width: 1199px) 288px">

        <img class="hero-image" src="./img/mob-hero-hero.webp" alt="Magicabin Hero" width="288" height="320"
          fetchpriority="high" decoding="async">
      </picture>
    </div>
    <a class="download-link" href="https://play.google.com/store/apps/details?id=com.photonfox.g001&hl=en&gl=us">
      <svg width="40" height="45">
        <use href="./img/sprite.svg#icon-google-play"></use>
      </svg>
      <div class="download-text">
        <p>GET IT ON</p>
        <p>Google Play</p>
      </div>
    </a>
  </div>
</section>