<section class="download section" id="download">
  <div class="container">
    <h4 class="download-title">Download Now</h4>
    <p class="download-subtitle">Begin Your Witch’s Path</p>
    <p class="download-descr">
      Discover the magic waiting within every match. Craft spells, uncover
      secrets, and become the witch the forest has been waiting for.
    </p>
    <!-- <button class="download-btn">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="/img/pc-google.webp 1x, /img/pc-google@2x.webp 2x"
        />
        <source
          media="(min-width:320px)"
          srcset="/img/mob-google.webp 1x, /img/mob-google@2x.webp 2x"
        />
        <img
          class="download-icon"
          src="/img/pc-google.webp"
          alt="google-play"
          width="40"
        />
      </picture>
      <span class="download-span">
        <span class="download-span-title">GET IT ON</span>
        <span class="download-span-subtitle">google Play</span>
      </span>
    </button> -->
  </div>
</section>
