<section class="download section" id="download">
  <div class="container">
    <h4 class="download-title">Download Now</h4>
    <p class="download-subtitle">Begin Your Witch’s Path</p>
    <p class="download-descr">
      Discover the magic waiting within every match. Craft spells, uncover
      secrets, and become the witch the forest has been waiting for.
    </p>
    <a
      class="download-link"
      href="https://play.google.com/store/apps/details?id=com.photonfox.g001&hl=en&gl=us"
    >
      <svg width="40" height="45">
        <use href="./img/sprite.svg#icon-google-play"></use>
      </svg>
      <div class="download-text">
        <p>GET IT ON</p>
        <p>Google Play</p>
      </div>
    </a>
  </div>
</section>
