<section class="section" id="about-the-game">
  <div class="container">
    <h2 class="about-title">About the Game</h2>
    <div>
      <div>
        <h3 class="about-secondary">You Were Born for Magic</h3>
        <p class="about-description">Magicabin: Witch’s Adventure is a spellbinding match-3 puzzle game wrapped in a charming, magical narrative.
          Play as a
          young witch reclaiming her ancestral cabin and unlocking forgotten spells across enchanted realms. Gather
          ingredients,
          restore harmony, and discover the secrets of the woods.</p>
        <ul class="about-list">
          <li>
            <svg width="26" height="26">
              <use href="./img/sprite.svg#icon-v"></use>
            </svg>
            <p>Version: 1.0.20250801</p>
          </li>
          <li>
            <svg width="26" height="26">
              <use href="./img/sprite.svg#icon-v"></use>
            </svg>
            <p>Last updated: August 1, 2025</p>
          </li>
          <li>
            <svg width="26" height="26">
              <use href="./img/sprite.svg#icon-v"></use>
            </svg>
            <p>Platform: Android 7.0+</p>
          </li>
          <li>
            <svg width="26" height="26">
              <use href="./img/sprite.svg#icon-v"></use>
            </svg>
            <p>Downloads: 500,000+</p>
          </li>
        </ul>
      </div>
      <img src="./img/mob-about.webp" alt="Witch, Magicabin: Witch’s Adventure" srcset="./img/mob-about.webp 1x, ././img/mob-about@2x.webp 2x" decoding="async" loading="lazy">
    </div>
  </div>
</section>