<section class="section" id="how-to-play">
  <div class="container">
    <h2 class="how-to-play">How to Play</h2>
    <p class="how-to-play-description">Simple to Learn, Deeply Magical to Master</p>
    <div class="swiper" id="how-to-play-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class=" how-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="/img/pc-slide1.webp 1x, /img/pc-slide1@2x.webp 2x">
              <source media="(max-width: 1199px)" srcset="/img/mob-slide1.webp 1x, /img/mob-slide1@2x.webp 2x">
              <img class="how-slide-img" src="/img/mob-slide1.webp" alt="How to Play" decoding="async" loading="lazy"
                width="242" height="188">
            </picture>
            <div class="how-slide-content">
              <div>
                <p class="how-slide-desc">Match 3 or more magical items (crystals, herbs, potions)
                  <span class="how-slide-number">1</span>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="how-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="/img/pc-slide2.webp 1x, /img/pc-slide2@2x.webp 2x">
              <source media="(max-width: 1199px)" srcset="/img/mob-slide2.webp 1x, /img/mob-slide2@2x.webp 2x">
              <img class="how-slide-img" src="/img/mob-slide2.webp" alt="How to Play" decoding="async" loading="lazy"
                width="242" height="188">
            </picture>
            <div class="how-slide-content">
              <div>
                <p class="how-slide-desc">Match 4+ to craft powerful spells and magical bursts
                  <span class="how-slide-number">2</span>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="how-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="/img/pc-slide3.webp 1x, /img/pc-slide3@2x.webp 2x">
              <source media="(max-width: 1199px)" srcset="/img/mob-slide3.webp 1x, /img/mob-slide3@2x.webp 2x">
              <img class="how-slide-img" src="/img/mob-slide3.webp" alt="How to Play" decoding="async" loading="lazy"
                width="242" height="188">
            </picture>
            <div class="how-slide-content">
              <div>
                <p class="how-slide-desc">Combine spells for wild chain reactions
                  <span class="how-slide-number">3</span>
                </p>

              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="how-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="/img/pc-slide4.webp 1x, /img/pc-slide4@2x.webp 2x">
              <source media="(max-width: 1199px)" srcset="/img/mob-slide4.webp 1x, /img/mob-slide4@2x.webp 2x">
              <img class="how-slide-img" src="/img/mob-slide4.webp" alt="How to Play" decoding="async" loading="lazy"
                width="242" height="188">
            </picture>
            <div class="how-slide-content">
              <div>
                <p class="how-slide-desc">Fulfill quests and collect rare artifacts to unlock new realms
                  <span class="how-slide-number">4</span>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <p class="how-to-play-postscript">Every match uncovers part of your journey — from humble witch to guardian of the
        forest!</p>
      <div class="swiper-button-container">
        <div class="swiper-button-wrapper">
          <button class="swiper-button-prev" id="htp-prev" type="button"
            aria-label="Next slide">
            <svg class="how-right" width="42" height="42">
              <use href="/img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="swiper-button-next" id="htp-next" type="button" aria-label="Previous slide">
            <svg class="how-left" width="42" height="42">
              <use href="/img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>

        </div>
        <div class="swiper-pagination" id="how-to-play-pagination"></div>
      </div>
    </div>
  </div>
</section>