<section class="section" id="enchanted-tools">
  <div class="container">
    <h2 class="enchanted-title">Enchanted Tools</h2>
    <div class="enchanted-wrapper">
      <div class="enchanted-content">
        <p class="enchanted-subtitle">Your Witch’s Arsenal</p>
        <ul class="enchanted-list">
          <li class="enchanted-item">
            <svg width="89" height="76">
              <use href="/img/sprite.svg#icon-union-1"></use>
            </svg>
            <div class="enchanted-item-description">
              <h3>Broom Sweep</h3>
              <p>Instantly clears any tile</p>
            </div>
          </li>
          <li class="enchanted-item">
            <svg width="89" height="76">
              <use href="/img/sprite.svg#icon-union-2"></use>
            </svg>
            <div class="enchanted-item-description">
              <h3>Wind Charm</h3>
              <p>Mixes the board when stuck</p>
            </div>
          </li>
          <li class="enchanted-item">
            <svg width="89" height="76">
              <use href="/img/sprite.svg#icon-union-3"></use>
            </svg>
            <div class="enchanted-item-description">
              <h3>Prism Dust</h3>
              <p>Alters items to fit your match</p>
            </div>
          </li>
          <li class="enchanted-item">
            <svg width="89" height="76">
              <use href="/img/sprite.svg#icon-union-4"></use>
            </svg>
            <div class="enchanted-item-description">
              <h3>Arcane Bomb</h3>
              <p>Removes dark enchantments in one blast</p>
            </div>
          </li>
        </ul>
        <p class="enchanted-description">These tools are your lifeline through the deepest magical puzzles!</p>
      </div>
      <img class="enchanted-image" src="/img/pc-cristal.webp" alt="Enchanted Tools"
        srcset="/img/pc-cristal.webp 1x, /img/pc-cristal@2x.webp 2x" width="360" height="358" decoding="async"
        loading="lazy">
    </div class="enchanted-wrapper">
  </div>
</section>