<section class="section" id="game-features">
  <div class="container">
    <h2 class="features-title">Game Features</h2>
    <p class="features-descr">Why You’ll Be Charmed by Magicabin</p>
    <ul class="features-list">
      <li class="features-list-item">
        <img class="feature-image" decoding="async" loading="lazy" width="168" height="168"
          srcset="/img/mob-pen.webp 1x, /img/mob-pen@2x.webp 2x" src="/img/mob-pen.webp" alt="pen">
        <p class="features-list-descr">Deeply relaxing yet mentally engaging gameplay</p>
      </li>
      <li class="features-list-item">
        <img class="feature-image" decoding="async" loading="lazy" width="168" height="168"
          srcset="/img/mob-star.webp 1x, /img/mob-star@2x.webp 2x" src="/img/mob-star.webp" alt="star">
        <p class="features-list-descr">Lush visuals & glowing magical details</p>
      </li>
      <li class="features-list-item">
        <img class="feature-image" decoding="async" loading="lazy" width="168" height="168"
          srcset="/img/mob-note.webp 1x, /img/mob-note@2x.webp 2x" src="/img/mob-note.webp" alt="note">
        <p class="features-list-descr">Spellbinding sound design</p>
      </li>
      <li class="features-list-item">
        <img class="feature-image" decoding="async" loading="lazy" width="168" height="168"
          srcset="/img/mob-moon.webp 1x, /img/mob-moon@2x.webp 2x" src="/img/mob-moon.webp" alt="moon">
        <p class="features-list-descr">Daily rituals & seasonal witching events</p>
      </li>
      <li class="features-list-item">
        <img class="feature-image" decoding="async" loading="lazy" width="168" height="168"
          srcset="/img/mob-orb2.webp 1x, /img/mob-orb2@2x.webp 2x" src="/img/mob-orb2.webp" alt="orb">
        <p class="features-list-descr">Fully playable offline</p>
      </li>
      <li class="features-list-item">
        <img class="feature-image" decoding="async" loading="lazy" width="168" height="168"
          srcset="/img/mob-cloud.webp 1x, /img/mob-cloud@2x.webp 2x" src="/img/mob-cloud.webp" alt="cloud">
        <p class="features-list-descr">Designed for dreamers of all ages</p>
      </li>
    </ul>
  </div>
</section>