<section class="section features" id="game-features">
  <div class="container">
    <h2 class="features-title">Game Features</h2>
    <p class="features-descr">Why You’ll Be Charmed by Magicabin</p>
    <ul class="features-list">
      <div class="top-list">
        <li class="features-list-item">
          <picture>
            <source
              media="(min-width: 120px)"
              srcset="/img/mob-pen.webp 1x, /img/mob-pen@2x.webp 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="/img/mob-pen.webp 1x, /img/mob-pen@2x.webp 2x"
            />
            <img class="feature-image" src="/img/mob-pen.webp" alt="pen" />
          </picture>
          <p class="features-list-descr pen-element">
            Deeply relaxing yet mentally engaging gameplay
          </p>
        </li>

        <li class="features-list-item">
          <picture>
            <source
              media="(min-width: 120px)"
              srcset="/img/mob-star.webp 1x, /img/mob-star@2x.webp 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="/img/mob-star.webp 1x, /img/mob-star@2x.webp 2x"
            />
            <img class="feature-image" src="/img/mob-star.webp" alt="star" />
          </picture>
          <p class="features-list-descr">
            Lush visuals & glowing magical details
          </p>
        </li>

        <li class="features-list-item">
          <picture>
            <source
              media="(min-width: 120px)"
              srcset="/img/mob-note.webp 1x, /img/mob-note@2x.webp 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="/img/mob-note.webp 1x, /img/mob-note@2x.webp 2x"
            />
            <img class="feature-image" src="/img/mob-note.webp" alt="note" />
          </picture>
          <p class="features-list-descr">Spellbinding sound design</p>
        </li>
      </div>

      <div class="bottom-list">
        <li class="features-list-item moon-li">
          <picture>
            <source
              media="(min-width: 120px)"
              srcset="/img/mob-moon.webp 1x, /img/mob-moon@2x.webp 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="/img/mob-moon.webp 1x, /img/mob-moon@2x.webp 2x"
            />
            <img class="feature-image" src="/img/mob-moon.webp" alt="moon" />
          </picture>
          <p class="features-list-descr">
            Daily rituals & seasonal witching events
          </p>
        </li>

        <li class="features-list-item orb-li">
          <picture>
            <source
              media="(min-width: 120px)"
              srcset="/img/mob-orb2.webp, /img/mob-orb2@2x.webp 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="/img/mob-orb2.webp, /img/mob-orb2@2x.webp 2x"
            />
            <img class="feature-image" src="/img/mob-orb2.webp" alt="orb" />
          </picture>
          <p class="features-list-descr">Fully playable offline</p>
        </li>

        <li class="features-list-item cloud-li">
          <picture>
            <source
              media="(min-width: 120px)"
              srcset="/img/mob-cloud.webp, /img/mob-cloud@2x.webp 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="/img/mob-cloud.webp, /img/mob-cloud@2x.webp 2x"
            />
            <img class="feature-image" src="/img/mob-cloud.webp" alt="cloud" />
          </picture>
          <p class="features-list-descr">Designed for dreamers of all ages</p>
        </li>
      </div>
    </ul>
  </div>
</section>
