<section class="section" id="art-and-music">
  <div class="container">
    <h2 class="music-title">Art & Music</h2>
    <p class="music-descr">A World Enchanted by Art and Sound</p>
    <div class="music-wrapper">
      <div class="music-content">
        <ul class="music-done-list">
          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
          </li>

          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
          </li>

          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
          </li>

          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
          </li>
        </ul>

        <ul class="music-text-list">
          <li class="music-text-list-item">
            Hand-painted forests, candlelit cabins, moonlit skies
          </li>
          <li class="music-text-list-item">
            Smooth animations and spell effects
          </li>
          <li class="music-text-list-item">
            Atmospheric soundtrack inspired by folk melodies
          </li>
          <li class="music-text-list-item">
            Sound FX that make every potion bubble and crystal crackle
          </li>
        </ul>
      </div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="/img/mob-party.webp 1x, /img/mob-party@2x.webp 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="/img/mob-party.webp 1x, /img/mob-party@2x.webp 2x"
        />
        <img class="music-image" src="/img/mob-party.webp" alt="party" />
      </picture>
    </div>
    <p class="music-bottom-descr">
      This isn’t just a game—it’s a cozy magical retreat!
    </p>
  </div>
</section>
