<section class="section" id="art-and-music">
  <div class="container">
    <h2 class="music-title">Art & Music</h2>
    <div class="music-content-wrapper">
      <p class="music-descr">A World Enchanted by Art and Sound</p>
      <div class="music-wrapper">
        <ul class="music-done-list">
          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
            <p class="music-text-list-item">
              Hand-painted forests, candlelit cabins, moonlit skies
            </p>
          </li>

          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
            <p class="music-text-list-item">
              Smooth animations and spell effects
            </p>
          </li>

          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
            <p class="music-text-list-item">
              Atmospheric soundtrack inspired by folk melodies
            </p>
          </li>

          <li class="music-done-list-item">
            <svg class="done-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-v"></use>
            </svg>
            <p class="music-text-list-item">
              Sound FX that make every potion bubble and crystal crackle
            </p>
          </li>
        </ul>

        <picture>
          <source media="(min-width: 1200px)" srcset="/img/pc-party.webp 1x, /img/pc-party@2x.webp 2x" />
          <source media="(max-width: 1199px)" srcset="/img/mob-party.webp 1x, /img/mob-party@2x.webp 2x" />
          <img src="/img/mob-party.webp" alt="A cozy magical party with characters dancing" width="468" height="472"
            decoding="async" loading="lazy" />
        </picture>
      </div>
      <p class="music-bottom-descr">
        This isn’t just a game—it’s a cozy magical retreat!
      </p>
    </div>
  </div>
</section>