<section class="section" id="quests-and-realms">
  <div class="container">
    <h2 class="quests-title">Quests & Realms</h2>

    <p class="quests-descr">So Many Spells, So Little Time</p>

    <div class="swiper" id="quests-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="slide-one"></div>

        <div class="swiper-slide" id="slide-two"></div>

        <div class="swiper-slide" id="slide-three"></div>

        <div class="swiper-slide" id="slide-four"></div>

        <div class="swiper-slide" id="slide-five"></div>
      </div>
    </div>

    <p class="quests-botom-descr">
      Can you restore balance to all magical realms?
    </p>
  </div>
</section>
