<section class="section" id="quests-and-realms">
  <div class="container">
    <h2 class="quests-title">Quests & Realms</h2>

    <p class="quests-descr">So Many Spells, So Little Time</p>

    <div class="swiper" id="quests-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="slide-one">
          <picture>
            <source media="(min-width: 1200px)" srcset="" />
            <source media="(max-width: 1199px)" srcset="" />
            <img
              class="slide-image"
              src=""
              alt=""
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr"></p>
        </div>

        <div class="swiper-slide" id="slide-two">
          <picture>
            <source media="(min-width: 1200px)" srcset="" />
            <source media="(max-width: 1199px)" srcset="" />
            <img
              class="slide-image"
              src=""
              alt=""
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr"></p>
        </div>

        <div class="swiper-slide" id="slide-three">
          <picture>
            <source media="(min-width: 1200px)" srcset="" />
            <source media="(max-width: 1199px)" srcset="" />
            <img
              class="slide-image"
              src=""
              alt=""
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr"></p>
        </div>

        <div class="swiper-slide" id="slide-four">
          <picture>
            <source media="(min-width: 1200px)" srcset="" />
            <source media="(max-width: 1199px)" srcset="" />
            <img
              class="slide-image"
              src=""
              alt=""
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr"></p>
        </div>

        <div class="swiper-slide" id="slide-five">
          <picture>
            <source media="(min-width: 1200px)" srcset="" />
            <source media="(max-width: 1199px)" srcset="" />
            <img
              class="slide-image"
              src=""
              alt=""
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr"></p>
        </div>
      </div>

      <button
        class="swiper-button-next"
        id="quests-btn-next"
        type="button"
        aria-label="Previous slide"
      >
        <svg class="how-left" width="42" height="42">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button
        class="swiper-button-prev"
        id="quest-btn-prev"
        type="button"
        aria-label="Next slide"
      >
        <svg class="how-right" width="42" height="42">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>

    <p class="quests-botom-descr">
      Can you restore balance to all magical realms?
    </p>
  </div>
</section>
