<section class="section" id="quests-and-realms">
  <div class="container">
    <h2 class="quests-title">Quests & Realms</h2>

    <p class="quests-descr">So Many Spells, So Little Time</p>

    <div class="swiper" id="quests-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="slide-one">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="/img/pc-slide-one.webp 1x, /img/pc-slide-one@2x.webp 2x"
            />
            <source
              media="(max-width: 1199px)"
              srcset="/img/mob-slide-one.webp 1x, /img/mob-slide-one@2x.webp 2x"
            />
            <img
              class="slide-image"
              src="/img/pc-slide-one.webp"
              alt="slide-one"
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr descr-one">1000+ mystical levels to explore</p>
        </div>

        <div class="swiper-slide" id="slide-two">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="/img/pc-slide-two.webp 1x, /img/pc-slide-two@2x.webp 2x"
            />
            <source
              media="(max-width: 1199px)"
              srcset="/img/mob-slide-two.webp 1x, /img/mob-slide-two@2x.webp 2x"
            />
            <img
              class="slide-image"
              src="/img/pc-slide-two.webp"
              alt="slide-two"
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr">
            Puzzle elements mixed with story-driven exploration
          </p>
        </div>

        <div class="swiper-slide" id="slide-three">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/pc-slide-three.webp    1x,
                /img/pc-slide-three@2x.webp 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/pc-slide-three.webp    1x,
                /img/pc-slide-three@2x.webp 2x
              "
            />
            <img
              class="slide-image"
              src="/img/pc-slide-three.webp"
              alt="slide-three"
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr">
            Puzzle elements mixed with story-driven exploration
          </p>
        </div>

        <!-- <div class="swiper-slide" id="slide-four">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/pc-slide-three.webp    1x,
                /img/pc-slide-three@2x.webp 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/pc-slide-three.webp    1x,
                /img/pc-slide-three@2x.webp 2x
              "
            />
            <img
              class="slide-image"
              src="/img/pc-slide-three.webp"
              alt="slide-four"
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr">
            Puzzle elements mixed with story-driven exploration
          </p>
        </div> -->

        <div class="swiper-slide" id="slide-five">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="/img/pc-slide-five.webp 1x, /img/pc-slide-five@2x.webp 2x"
            />
            <source
              media="(max-width: 1199px)"
              srcset="/img/pc-slide-five.webp 1x, /img/pc-slide-five@2x.webp 2x"
            />
            <img
              class="slide-image"
              src="/img/pc-slide-five.webp"
              alt="slide-five"
              decoding="async"
              loading="lazy"
              width="116"
              height="180"
            />
          </picture>
          <p class="slide-descr">
            Quest types: unlock spellbooks, gather stardust, break curses
          </p>
        </div>
      </div>

      <button
        class="swiper-button-next"
        id="quests-btn-next"
        type="button"
        aria-label="Previous slide"
      >
        <svg class="quest-left" width="72" height="72">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button
        class="swiper-button-prev"
        id="quests-btn-prev"
        type="button"
        aria-label="Next slide"
      >
        <svg class="quest-right" width="72" height="72">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>

    <p class="quests-botom-descr">
      Can you restore balance to all magical realms?
    </p>
  </div>
</section>
