<section class="section" id="mobile-experience">
  <div class="container">
    <h2 class="exp-title">Mobile Experience</h2>
    <div class="exp-wrapper">
      <div class="exp-content">
        <p class="exp-descr">Your Portable Portal to Magic</p>
        <ul class="exp-list">
          <li class="exp-list-item">Fast install, small footprint</li>
          <li class="exp-list-item">
            Works offline—perfect for magical escapes
          </li>
          <li class="exp-list-item">Optimized for all screen sizes</li>
          <li class="exp-list-item">Cloud sync and auto-save supported</li>
        </ul>
        <p class="exp-bottom-descr">
          Whether on a break or a moonlit walk—magic is always with you.
        </p>
      </div>
      <picture>
        <source media="(min-width: 1200px)" srcset="/img/pc-experience.webp 1x, /img/pc-experience@2x.webp 2x" />
        <source media="(max-width: 1199px)" srcset="/img/mob-experience.webp 1x, /img/mob-experience@2x.webp 2x" />
        <img class="exp-image" src="/img/mob-experience.webp" alt="experience in mobile game" decoding="async" loading="lazy" width="175" height="372"/>
      </picture>
    </div>
  </div>
</section>