#about-the-game {
  background-image: image-set(
    url(/img/mob-about-bg.webp) 1x,
    url(/img/mob-about-bg@2x.webp) 2x
  );
  background-size: cover;
  background-position: center;
  background-color: #fffdf5;
}
.about-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #161616;
  margin-bottom: 62px;
}
.about-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 2px solid rgba(205, 178, 128, 0.6);
  border-radius: 30px;
  padding: 16px 30px;
  background-color: #fffddc;
}
.about-secondary {
  font-weight: 600;
  font-size: 20px;
}

.about-description {
  font-size: 16px;
  line-height: 1.46;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.about-item {
  display: flex;
  align-items: center;
  gap: 38px;
  font-size: 16px;
  line-height: 1.46;
}
.about-item svg {
  flex-shrink: 0;
}
.about-box {
  position: relative;
  z-index: 2;
}
.about-decor1 {
  display: none;
}
.about-decor2 {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about-decor1 {
    display: block;
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
  .about-decor2 {
    display: block;
    position: absolute;
    bottom: 100px;
    right: 0;
    z-index: -1;
    transform: translate(50%, 50%);
  }
  .about-title {
    font-size: 40px;
  }
  .about-secondary {
    font-size: 24px;
  }
  .about-description {
    font-size: 20px;
  }
  .about-item {
    font-size: 20px;
    line-height: 2.09633;
    text-transform: capitalize;
  }
  .about-item svg {
    width: 32px;
    height: 32px;
  }
  .about-wrapper {
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }
  .about-content {
    width: 445px;
  }
}
