.features {
    background-color: #fffdf5;
}

.features-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #161616;
    margin-bottom: 62px;
}

.features-descr {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #161616;
    margin-bottom: 24px;
}

.features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-image {
    width: 168px;
    height: 168px;
}

.orb-li {
    margin-top: 24px;
}

.features-list-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    text-align: center;
    color: #161616;
    width: 168px;
}

.pen-element {
    margin-top: 24px;
}

@media only screen and (min-width: 1200px) {
    .features-title {
        font-weight: 500;
        font-size: 40px;
    }

    .features-descr {
        font-size: 24px;
    }

    .features-list {
        gap: 62px;

    }

    .top-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 74px;
    }

    .bottom-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 74px;
    }
    
    .orb-li {
        margin-top: 0px;
    }

    .moon-li {
        margin-top: 24px;
    }

    .cloud-li {
        margin-top: 24px;
    }



}