body {
  font-family: 'Spectral', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #161616;
  font-style: normal;
  background-color: #e0cefe;
}

html {
  scroll-behavior: smooth;
}

a,
button,
svg,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}