.footer {
    background-color: #fffdf5;
    padding: 90px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 1128px;
}

.footer-descr {
    font-size: 20px;
}

.footer-descr:hover,
.footer-descr:focus {
    opacity: 0.6;
}

.footer-rights {
    font-size: 20px;
    text-align: center;
    max-width: 300px;
     letter-spacing: 0;
}

@media only screen and (min-width: 1200px) {
    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .footer-rights {
        max-width: 450px;
        }
}