html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spectral', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #161616;
  font-style: normal;
  background: linear-gradient(180deg, #e0cefe, #fffdf5);
}

ul {
  list-style: disc;
  padding-left: 50px;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

ol > li {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  color: #161616;
}

h3 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 24px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
}

.info-section {
  border-bottom: 5px solid #8f62df;
}

.info-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.back-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 4px;
  padding: 0 16px;
  max-width: fit-content;
}
.back-link:hover {
  text-decoration: underline;
}

header {
  padding: 90px 0 24px;
  border-bottom: 1px solid #a7a7a7;
}

header .container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header p {
  font-size: 20px;
  color: #939393;
}

a {
  text-decoration: underline;
}
a:hover,
a:focus {
  color: blue;
  fill: blue;
}
.footer a {
  text-decoration: none;
  color:#161616
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 48px;
  }
}
