
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
button {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}
button {
  border: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
  height: auto;
}